BasedOnStyle: LLVM
IndentWidth: 8
ColumnLimit: 200
UseTab: Always
BreakBeforeBraces: Linux
AllowShortCompoundLiteralsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortBlocksOnASingleLine: Empty
IndentCaseLabels: true
InsertBraces: true
LineEnding: LF
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '<[^>]*>'
    Priority:        1
  - Regex:           '"[^"]*"'
    Priority:        2
