BasedOnStyle: LLVM
IndentWidth: 8
UseTab: Always
BreakBeforeBraces: Linux
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: true
InsertBraces: true
LineEnding: LF
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
ColumnLimit: 120
IncludeCategories:
  - Regex:           '<[^>]*>'
    Priority:        1
  - Regex:           '"[^"]*"'
    Priority:        2
